<div class="body">
    <nav class="navbar">
        <div class="menu">
            <span class="menu-icon" (click)="sidebarShow = !sidebarShow">☰</span> Menu
        </div>
        <div class="logo">
            <span class="meta" (click)="redirectHome()">Healthify - </span><span class="cube">A Family Health Tracker!</span>
        </div>
        <div class="join-us">
            <button (click)="addNewMember()">+ Member</button>
        </div>
    </nav>

    <section class="bg_img">
        <!-- <img src="./assets/images/family_pic.jpg" alt="Career Image" class="bg-image"> -->
        <router-outlet></router-outlet>
    </section>
</div>

<div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
    <div class="sidebar-close" (click)="sidebarShow = !sidebarShow">
        X
    </div>
    <div class="sidebar-content">
        <h2>Healthify</h2>
        <div class="c-pointer" (click)="redirectHome()">Home</div>
        <div class="c-pointer" (click)="redirectMembers()">Members</div>
        <div class="c-pointer">About Us</div>
        <div class="c-pointer">Contact Us</div>
    </div>
</div>

