<div>
  <div style="display: flex;">
    <input type="text" class="form-control" placeholder="search" [(ngModel)]="searchTerm" 
    (input)="filterRecords()" style="width: 30%;">
  </div><br>
    <table class="table">
    <thead>
      <tr>
        <!-- <th>Sn.</th> -->
         <th class="c-blue">Name</th>
         <th class="c-blue">Age</th>
         <th class="c-blue">Gender</th>
         <th class="c-blue">Health Condition</th>
         <th class="c-blue">Medication Details</th>
         <th class="c-blue">Doctor's Name</th>
         <th class="c-blue">Doctor's Contact Number</th>
         <th class="c-blue">Emergency Contact</th>
         <th class="c-blue">Action</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let member of filteredData | filter: searchTerm">
            <!-- <td></td> -->
            <td (click)="openModal(member)">{{member.name}}</td>
            <td>{{member.age}}</td>
            <td>{{member.gender}}</td>
            <td>{{member.HCondition}}</td>
            <td>{{member.MDetails}}</td>
            <td>{{member.doctorName}}</td>
            <td>{{member.DoctorContactNumber}}</td>
            <td>{{member.EmergencyContact}}</td>
            <td><a (click)="edit()" style="color: #3498db; cursor: pointer;" aria-disabled="false">Edit</a>&nbsp; &nbsp;&nbsp;<a  (click)="deleterecord($event,'i')" style="color: red;cursor: pointer;">Delete</a></td>
        </tr>
        
      <tr *ngIf="filteredData.length == 0">
        <td colspan="9">No Record found</td>
      </tr>
    </tbody>
  </table>

 

  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li> -->
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</div>

<!-- Modal Structure -->
<div class="modal" [ngClass]="{ 'show': isModalVisible }" [style.display]="isModalVisible ? 'block' : 'none'">
  <div class="modal-content">
    <span class="close" (click)="closeModal()" style="display: flex; justify-content: end;">&times;</span>
    <!-- <h2>Modal Title</h2> -->
    <table class="table">
      <thead>
        <tr>
          <!-- <th>Sn.</th> -->
           <th class="c-blue">Name</th>
           <th class="c-blue">Age</th>
           <th class="c-blue">Gender</th>
           <th class="c-blue">Health Condition</th>
           <th class="c-blue">Medication Details</th>
           <th class="c-blue">Doctor's Name</th>
           <th class="c-blue">Doctor's Contact Number</th>
           <th class="c-blue">Emergency Contact</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let member of singleUserDetails; let i = index">
              <!-- <td></td> -->
              <td>{{member.name}}</td>
              <td>{{member.age}}</td>
              <td>{{member.gender}}</td>
              <td>{{member.HCondition}}</td>
              <td>{{member.MDetails}}</td>
              <td>{{member.doctorName}}</td>
              <td>{{member.DoctorContactNumber}}</td>
              <td>{{member.EmergencyContact}}</td>
          </tr>
          
        <tr *ngIf="filteredData.length == 0">
          <td colspan="9">No Record found</td>
        </tr>
      </tbody>
    </table>
    <div class="join-us">
      <button (click)="AddNewEntry()">Add New Entry</button>
  </div>

  </div>
</div>