<!-- <div class="table-container">
    <input type="text" [(ngModel)]="searchText" placeholder="Search by name..." />
  
    <table>
      <thead>
        <tr>
          <th (click)="sortTable('id')">ID</th>
          <th (click)="sortTable('name')">Name</th>
          <th (click)="sortTable('age')">Age </th>
        </tr>
      </thead>
      <tbody>
        <tr 
          *ngFor="let person of filteredList()" 
          (click)="selectRow(person)"
          [class.selected]="selectedPerson === person"
        >
          <td>{{ person.id }}</td>
          <td>{{ person.name }}</td>
          <td>{{ person.age }}</td>
        </tr>
        <tr *ngIf="checkData">
            <td colspan="3">Record not found</td>
            
        </tr>
      </tbody>
    </table>
  </div> -->


  <div style="width: 10%; text-align: center;align-items: center; justify-content: center;justify-items: center;">
    <p>{{secondCount}} : Second</p>
    <p>{{minuteCount}} : Minute</p>
    <button type="button" (click)="start()"> start</button>
    <button type="button" (click)="stop()"> stop</button>
  </div>
  
